*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a, a:visited{
    text-decoration: none;   
}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@100;200;300;400&family=PT+Sans:wght@400;700&display=swap');
body{
    font-family: Pt-sans, monospace, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: #e9e9e9;
}
a{
    color: rgb(6, 7, 76);
}  
.head_background{
    background-color: #3790D4;
}
.header__block{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.header__menu{
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 24px;
    margin-bottom: 30px;

}
.head_block{
   display: flex;

}
h1{
    font-size: 42px;
}
h2 {
    padding: 20px;
    font-size: 28px;
    color: #3f8b69;
}
.menu_list{
display:inline;
padding: 10px;
color: #51312B;
}
.header{
    margin: 0 auto;
}
.avatar{
    max-width: 200px;
    max-height: 100%;
    border-radius: 100%;
    flex-direction: row;
    margin-right: 100px;
}
.header__name{
    margin-top: 50px;
}
.name{
    width: 200px;
}


.mail_content{
    max-width: 1440px;
    margin: 0 auto;
}

.footer_block{
    padding: 20px 20px;
    background-color: #3790D4;
}
.footer_content{
    display: flex;
    justify-content:space-between;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.footer_link,.footer_text{
    font-size: 30px;  
}
